<div class="order__card">
  <div class="order__card__header">
    <img
      class="order__card__header__confirmation-icon"
      src="./assets/images/icons/icon-order-confirmed.svg"
      alt=""
    />
    <h2 class="order__card__header__title">Order Confirmed</h2>
    <div class="order__card__header__text">We hope you enjoy your food</div>
  </div>
  <div class="order__card__content">
    <div
      class="order__card__content__row"
      *ngFor="let item of cartStorage.cartProducts$ | async"
    >
      <div class="order__card__content__row__image">
        <img
          src="{{ item.product.image.thumbnail }}"
          alt="{{ item.product.name }}"
        />
      </div>
      <div class="order__card__content__row__data">
        <div class="order__card__content__row__data__name">
          {{ item.product.name }}
        </div>
        <div class="order__card__content__row__data__info">
          <span class="info__quantity">{{ item.quantity }}x</span>
          <span class="info__price-each">
            {{ "@" }} {{ item.product.price.toFixed(2) | currency }}
          </span>
          <span class="info__price-total">
            {{
              (item.product.price * item.quantity).toFixed(2) | currency
            }}</span
          >
        </div>
      </div>
    </div>
    <div class="order__card__content__summary">
      <span>Order Total</span>
      <span>
        {{ (cartStorage.totalAmount$ | async)?.toFixed(2) || 0 | currency }}
      </span>
    </div>
  </div>
  <div class="order__card__actions">
    <button
      class="order__card__actions__new-order-btn"
      (click)="openOrderDialog()"
    >
      Start New Order
    </button>
  </div>
</div>
